<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      <add key="ConnectionString" value="uid=RETAILUSER;password=retail;database=PERU;server=172.16.230.81;Connect Timeout=180;pooling=false" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior  name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
       <endpointBehaviors>
          <behavior name="webBehaviour">
             <webHttp/>
          </behavior>
       </endpointBehaviors>
    </behaviors>
     <services>
        <service behaviorConfiguration="ServiceBehavior" name="RMSBodegaWeb.RMSBodegaWeb">
           <endpoint address="../RMSBodegaWeb.svc" behaviorConfiguration="webBehaviour"
              binding="webHttpBinding" name="webHttpBinding" contract="RMSBodegaWeb.IRMSBodegaWeb" />
           <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding"
              contract="IMetadataExchange" />
        </service>
     </services>
     <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
