<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      <add key="ConnectionString" value="uid=RETAILUSER;password=retail;database=PERU;server=172.16.230.81;Connect Timeout=180;pooling=false" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior  name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/> 
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
          <behavior  name="ServiceBehaviorDebug">
              <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
              <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
              <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
              <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
      </serviceBehaviors>
       <endpointBehaviors>
          <behavior name="webBehaviour">
             <webHttp/>
          </behavior>
       </endpointBehaviors>
    </behaviors>
     <services>
        <service behaviorConfiguration="ServiceBehavior" name="RMSBodegaWeb.RMSBodegaWeb">
           <endpoint address="secure" behaviorConfiguration="webBehaviour"
              binding="webHttpBinding" bindingConfiguration="secureHttpBinding" name="webHttpBinding" contract="RMSBodegaWeb.IRMSBodegaWeb"    />
            
        <endpoint address="" behaviorConfiguration="webBehaviour" bindingConfiguration="normalHttpBinding"
            binding="webHttpBinding" name="webHttpBinding" contract="RMSBodegaWeb.IRMSBodegaWeb"  /> 
        </service>
         
     </services>
      <bindings>
          <webHttpBinding>
              <binding name="secureHttpBinding">
                  <security mode="Transport">
                      <transport clientCredentialType="None"/>
                  </security>
              </binding>
              <binding name="normalHttpBinding"> 
              </binding>
          </webHttpBinding>
      </bindings>
     <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
